
  
  .calendar-styles .rbc-calendar {
 
    overflow: auto;
    
    border-radius: 5px;
    margin: 30px;
    height: 100dvh;
   

  }
  
  .calendar-styles .rbc-time-view {
   
    display: inline-block;
    flex-direction: column;
  }

  
  .calendar-styles .rbc-time-header {
    display:flex;

  }

 .rbc-time-view  .rbc-row  {
    

  }
  
  
  .calendar-styles .rbc-event-container {
    /* background-color: #3174ad; */
    /* color: #fff; */
    /* border: 1px solid #215b8b; */
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    
  }
  
  .calendar-styles .rbc-toolbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .calendar-styles .rbc-btn-group {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .calendar-styles .rbc-time-slot{
    display: hide;
  }
  
  .calendar-styles .rbc-toolbar-label {

    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    display:  flexbox;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .calendar-styles .rbc-today {
    background-color: #f9f9f9;
  }
  
  .calendar-styles .rbc-show-more {
    color: #3174ad;
    cursor: pointer;
  }


  .Modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
  }
  
  .Modal-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .Modal-body {
    margin-bottom: 20px;
  }
  
  .Modal-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .Modal-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .SubmitButton {
  background-color: #4CAF50; /* Green */
  color: white;
  }
  
  .CancelButton {
  background-color: #f44336; /* Red */
  color: white;
  }
  
  /* Spacing and alignment */
  .Modal-footer {
  display: flex;
  justify-content: flex-end;
  }
  
   /* When the modal is active/open / */
  .ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.75) !important; 
  }
  
  @media (max-width: 768px) {
    .calendar-styles   .rbc-toolbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .calendar-styles .rbc-btn-group {
      margin-top: 10px;
    }
  }
  