

.container-fluid h2{

    font-size: 18px; /* Adjust size as needed */
    font-weight: bold; /* Makes text bold */
    color: #72c926; /* Dark shade for good readability, adjust color as needed */
    /* Light background, adjust color as needed */
    border-radius: 5px; /* Slightly rounded corners for a modern look */
    display: block; /* Ensures padding and background color are applied */
  
}


/* Responsive adjustments if needed */
@media (max-width: 767px) {
    .container-fluid span {
      font-size: 16px; /* Slightly smaller text on smaller screens */
      /* padding: 6px; */
      color: #b6e607;
     
      display: block;
      text-align: center;


    }
  }