/* Navbar Styles */
.navbar {
    background-color: #fff;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align icons to the right */
    width: 100%; /* Ensure icons take the full width of the navbar */
  }
  
  .icon {
    font-size: 20px;
    
    cursor: pointer;
    margin-right: 15px;
  }
  
  /* Responsive Styles */
  @media (max-width: 767px) {
    .navbar-icons {
      flex-direction: column;
      align-items: flex-end;
    }
  
    .icon {
      margin: 5px 0;
    }
  }
  